.container{
    display : flex;
    flex-direction : column;
    width : 500px;
    height : 500px;
}
.rowContainer{
    display : flex;
    flex-grow : 1;
    flex-direction : row;
}
.colorDiv{
    border : 1px solid black;
    flex-grow : 1
}
.selected{
    background-color : red;
}